services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: animeon
      POSTGRES_PASSWORD_FILE : /run/secrets/db_password
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - "/var/lib/pgdata:/var/lib/postgresql/data/pgdata"
    secrets:
      - db_password
  redis:
    image: redis
    restart: always
  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8082:8081"
  web:
    build:
      dockerfile: Dockerfile
    environment:
      DATABASE_HOST: db
      SECRET_KEY_BASE: XXXXXXXXXXXXXXX
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
  nginx:
    image: nginx
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./default:/etc/nginx/sites-enabled/default:ro
      - ./fullchain.pem:/etc/nginx/fullchain.pem:ro
      - ./privkey.pem:/etc/nginx/privkey.pem:ro
    ports:
      - "443:443"
      - "8888:80"
secrets:
  db_password:
    file: ./db_password
volumes:
  pgdata:
    driver: local
