@import '../../mixins/btn'

.p-videos-new
  form
    width: 50%
  .chosen-container, .chosen-container-multi
    width: 100%!important
  .btn
    margin: 5px 5px 0 0
    height: 34px
    font-size: 16px
    +btn

  #ep-id
    visibility: hidden
    width: 0
    height: 0
  #progress-bar
    transition: width 0.3s ease, background-color 0.3s ease
  #btn-save
    visibility: hidden
