@import '../../mixins/clear'

.p-animes-index
  .animes-card-block
    margin: 0 auto
    max-width: 1120px
    +clear_left

  .anime-card:nth-child(5n+1)
    clear: left

  .anime-card
    width: 17%
    margin: 10px
    border: 0
    min-height: 320px
    float: left

  .card
    border-radius: 7px

  .anime-card span
    color: black
    font-size: 12px
    font-weight: bold

  .anime-card img
    border-radius: 5px 5px 0 0

  .card-body
    padding: 10px

@media screen and (max-width: 1023px)
  .p-animes-index
    .container
      margin: 0
      width: 100%
    .anime-card
      width: 12rem
    .anime-card span
      font-size: 11px
    .card-body
      padding: 7px
    .anime-card:nth-child(5n+1)
      clear: none
    .anime-card:nth-child(4n+1)
      clear: left

@media screen and (max-width: 872px)
  .p-animes-index
    .anime-card
      width: 10rem
      min-height: 270px
    .anime-card:nth-child(4n+1)
      clear: none
    .anime-card:nth-child(3n+1)
      clear: left

@media screen and (max-width: 576px)
  .p-animes-index
    .anime-card
      width: 9.8rem
      min-height: 260px
      margin: 5px
    .card-body
      padding: 5px
      height: 35px
    .anime-card span
      font-size: 11px
    .anime-card:nth-child(3n+1)
      clear: none
    .anime-card:nth-child(2n+1)
      clear: left
