@import '../../mixins/clear'

.p-animes-index
  .animes-card-block
    margin: 0 auto
    max-width: 1120px
    +clear_left

  .anime-card:nth-child(5n+1)
    clear: left

  .anime-card
    width: 17%
    margin: 10px
    border: 0
    min-height: 320px
    float: left

  .card
    border-radius: 7px

  .anime-card span
    color: black
    font-size: 12px
    font-weight: bold

  .anime-card img
    border-radius: 5px 5px 0 0

  .card-body
    padding: 10px

@media screen and (max-width: 1023px)
  .p-animes-index
    .container
      margin: 0
      width: 100%
    .anime_img_box
      clear: left
      float: left
      width: 45%
      margin-bottom: 15px
    .watch
      float: left
      width: 100%
    .anime_img
      width: 75%
    .anime_episode
      width: 45%
    .text_info
      width: 100%
    .anime_info_box
      float: left
      width: 50%
    .anime-card
      width: 12rem
    .anime-card span
      font-size: 11px
    .card-body
      padding: 7px
    .nav-item:nth-child(3)
      display: none
      border: none
      margin: 0
    .nav-item
      padding: 0 10%

@media screen and (max-width: 576px)
  .p-animes-index
    .anime-card
      width: 9.5rem
    .anime_img_box
      float: none
      width: 100%
    .watch
      float: none
      width: 100%
    .anime_info_box
      float: none
      width: 100%
      margin-bottom: 15px
    .anime-card span
      font-size: 10px
    .nav-item
      padding: 0 8%

