@import '../../mixins/clear'
@import '../../mixins/btn'
.p-animes-show
  .key
    color: #8c9095
    font-weight: bold
  .episodes_list
    max-width: 1300px
    margin: 0 auto
    display: inline-block

  .anime_img_box
    clear: left
    float: left
    margin: 5px
    width: 20%
    border-radius: 5px

  .watch
    float: left
    margin: 5px
    width: 50%

  .anime_episode
    margin: 5px
    width: 31%
    min-width: 38px
    +btn

  .episode_watched
    border-color: #0f5132

  .anime_page
    +clear_left

  .text_info
    width: 100%
    padding: 3px
    background: #36393c
    margin-bottom: 10px
    border-left: 10px solid #a7acb1

  .anime_img img
    width: 100%
    border-radius: 12px

  .anime_info_box
    margin: 5px
    width: 25%
    float: left

  .edit_anime
    margin-top: 5px
    width: 50%
    font-size: 14px



@media screen and (max-width: 1023px)
  .p-animes-show
    .anime_img_box
      clear: left
      float: left
      width: 45%
      margin-bottom: 15px
    .watch
      float: left
      width: 100%
    .anime_img
      width: 75%
    .anime_episode
      width: 45%
    .text_info
      width: 100%
    .anime_info_box
      float: left
      width: 50%
    .edit_anime
      width: 75%
      font-size: 14px

@media screen and (max-width: 576px)
 .p-animes-show
  .anime_img_box
    float: none
    width: 100%
  .anime_img
    width: 350px
  .watch
    float: none
    width: 100%
  .anime_info_box
    float: none
    width: 100%
    margin-bottom: 15px
  .edit_anime
    width: 45%
