@import '../../mixins/clear'
@import '../../mixins/btn'
@import '../../mixins/icons.scss'

.p-animes-show
  .key
    color: #8c9095
    font-weight: bold

  .studio_img img
    margin: 0 auto
    display: block
    max-width: 250px

  .episodes_list
    width: 100%
    max-width: 1300px
    margin: 0 auto
    display: inline-block

  .anime_img_box
    clear: left
    float: left
    margin: 5px
    width: 20%
    border-radius: 5px

  .watch
    float: left
    margin: 5px
    width: 50%

  .anime_episode
    margin: 5px
    width: 18%
    min-width: 38px
    display: inline-block
    text-align: center
    +btn

  .episode_watched
    border-color: #0f5132
    background: #01472e

  .anime_page
    +clear_left

  .text_info
    width: 100%
    padding: 3px
    background: #36393c
    margin-bottom: 10px
    border-left: 10px solid #a7acb1
    box-sizing: border-box

  .user_status
    margin-top: 10px

  .anime_img img
    width: 100%

  .anime_info_box
    margin: 5px
    width: 25%
    float: left

  .edit_anime
    margin-top: 5px
    width: 50%
    &:after
      content: var(--svg-edit)
  .button_to
    display: inline-block
  .add_episode
    background: none
    cursor: pointer
    &:before
      content: var(--svg-plus)
  .remove_episode
    background: none
    cursor: pointer
    &:before
      content: var(--svg-minus)
  .to_planned
    background: none
    cursor: pointer
    &:before
      content: var(--svg-plan)
  .to_completed
    background: none
    cursor: pointer
    &:before
      content: var(--svg-success)


@media screen and (max-width: 1023px)
  .p-animes-show
    .anime_img_box
      clear: left
      float: left
      width: 45%
      margin-bottom: 15px
      & .text_info, .anime_img
        width: 75%
    .watch
      float: left
      width: 100%
    .anime_episode
      width: 30%
    .text_info
      width: 100%
    .anime_info_box
      float: left
      width: 50%
    .edit_anime
      width: 75%
      font-size: 14px

@media screen and (max-width: 576px)
 .p-animes-show
  .anime_img_box
    float: none
    width: 100%
    & .text_info, .anime_img
      width: 350px
  .anime_episode
    width: 40%
  .watch
    float: none
    width: 100%
  .anime_info_box
    float: none
    width: 100%
    margin-bottom: 15px
  .edit_anime
    width: 45%
