=simple_form_for(@video.video_url.new, url: anime_episode_video_index_path(id: params[:episode_id])) do |f|
  = f.input :url
  = f.input :quality
  = f.button :submit, class: 'btn btn-outline-primary'
