=simple_form_for @video, url: animes_path, multipart: true do |f|
  = f.input :fandub, collection: Fandub.all, default: :first, input_html: { class: 'chosen-select' }
  = f.input :quality,
          collection: VideoUrl::QUALITIES,
          multiple: true,
          include_blank: false,
          include_hidden: false,
          input_html: { class: 'chosen-select' },
          selected: %w[480p 720p 1080p]
  = f.input :video_file,
          as: :file,
          input_html: { type: 'file', accept: 'video/x-matroska, video/*' }
.btns
  #btn-submit.btn Загрузить
  #btn-back.btn
    = link_to 'Назад', anime_episode_path(id: params[:episode_id])
#ep-id [
  value="#{params[:episode_id]}"
] #{params[:episode_id]}
p.loading-percentage
