default: &default
  host: <%= ENV["DATABASE_HOST"] %>
  adapter: postgresql
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  password: <%= ENV["DATABASE_PASSWORD"] %>
  template: template0

development:
  <<: *default
  database: animeon_dev
  username: animeon

test:
  <<: *default
  database: animeon_test
  username: animeon

production:
  <<: *default
  database: animeon_prod
  username: animeon

