// Entry point for your Sass build
@import "bootstrap"

a
  color: #a7acb1
  text-decoration: none

*
  margin: 0
  padding: 0
  border: 0
  color: #a7acb1

.navbar
  background: #36393c
  height: 35px

.container
  background: #1a1d20

body
  background: #a7acb1

.nav-item
  margin: 1px auto 1px auto

.animes-card-block
  display: flex
  flex-wrap: wrap

.anime-card
  width: 10rem
  margin: 10px

.anime-card a
  color: black

.ep
  margin: 10px

.episodes_list
  max-width: 1300px

.anime_episode:nth-child(3n+2)
  margin: 5px 1rem 5px 1rem
.anime_episode:nth-child(3n)
  margin-left: 5rem
  margin-right: 5%
.anime_episode:nth-child(3n+1)
  margin: 5px 5rem 5px 5%
