name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:6
      postgres:
        image: postgres:18-alpine
        ports:
          - '5432:5432'
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_HOST: localhost
      POSTGRES_TEST_USER: postgres
      DATABASE_PASSWORD: postgres
      POSTGRES_TEST_DB: github-actions
      REDIS_HOST: redis
      RAILS_ENV: test
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: r
      run: echo $RAILS_ENV
    - name: Install Ruby and gems
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.6
        bundler-cache: true
    - name: Set up database schema
      run: |
        bundle exec rails db:create
        bundle exec rails db:schema:load
    - name: Run tests
      run: bundle exec rspec --format progress
  build:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2.6
        bundler-cache: true
    - name: Set Node.js 20.14.0
      uses: actions/setup-node@v3
      with:
        node-version: 20.14.0
    - name: Run yarn install
      run: yarn install
    - name: Download playerjs
      run: curl -o app/packs/javascripts/playerjs.js https://cdn.plrjs.com/player/d7ybfrhe9nh7e/gt0888ggbuuc.js

    - name: Log in to the Container registry
      uses: docker/login-action@v3.0.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.PAT }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5.3.0
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
